/* BANNER */
#banner {
    padding: 16em 0 13em 0;
    background-attachment: fixed;
    background-image: url("../images/jeremy-bishop-424423-unsplash.jpg");
    background-color: gray;
    background-blend-mode: multiply;
    background-position: center top;
    background-size: cover;
    line-height: 1.75;
    text-align: center;
}

.wrapper.style1 {
    background-color: #ffffff;
}

.wrapper.style2 {
    background-color: #f6f6f6;
}

.row .p50 {
    width: 50%;
    float: left;
    padding: 1em 1em 0 0;
}

/* BUTTONS */
button, .button {
    background-color: #323037;
    border-radius: 4px;
    color: #ffffff !important;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 3.15em;
    line-height: 3.25em;
    padding: 0 2.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

button.special, .button.special {
    background-color: #f32853;
    color: #ffffff !important;
}

button.big, .button.big {
    font-size: 1.35em;
}

ul.actions {
    text-align: center;
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

.landing .container {
    width: 60em;
}
.landing .row p:first-child {
    margin-top: 0;
}

.image.captioned {
    border-radius: 0;
    margin-bottom: 4em;
}

.image.captioned h3 {
    background-color: #fff;
    box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.15);
    display: block;
    padding: 2em 1em;
    text-align: center;
    width: 100%;
}

.landing #header {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    height: 3.25em;
    position: absolute;
}

.landing #header h1 {
    color: #ffffff;
}

.landing #header h1 a {
    color: #FFF;
}

.landing #header nav a {
    color: #ddd;
}

.landing #banner h2 {
    color: #ffffff;
    display: inline-block;
    font-size: 3.5em;
    line-height: 1.35;
    margin-bottom: 0.5em;
}

#banner p {
    color: #aaa;
    font-size: 1.5em;
    margin-bottom: 1.75em;
    text-transform: uppercase;
}