/* TOC:
1. Box Model
2. After CSS-Reset Fix / Basic Typography
3. Images
4. Main
5. Header Text
6. Top Meny
7. Footer

Clear Fix
*/

/* 1. Box Model */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 2. After CSS-Reset Fix */
body {
    background-color: #fff;
    color: #666;
}

body, input, select, textarea {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 400;
    line-height: 2em;
}

a {
    text-decoration: underline;
    color: #f32853;
}

a:hover {
    text-decoration: none;
}

strong, b {
    color: #484848;
    font-weight: 700;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #484848;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 1.75em;
    line-height: 1.5em;
}

h3 {
    font-size: 1.35em;
    line-height: 1.5em;
}

h4 {
    font-size: 1.1em;
    line-height: 1.5em;
}

h5 {
    font-size: 0.9em;
    line-height: 1.5em;
}

h6 {
    font-size: 0.7em;
    line-height: 1.5em;
}

/* 3. IMAGES */
.image.fit img {
    width: 100%;
}

.image img {
    border-radius: 4px;
    display: block;
}

/* 4. MAIN */
#main {
    padding-top: 6em;
}

.wrapper {
    padding: 6em 0 4em 0;
}

.container {
    width: 80em;
    margin-left: auto;
    margin-right: auto;
}


/* 5. HEADER */
header p {
    color: #aaa;
    margin: 0 0 1.5em 0;
    text-transform: uppercase;
}

header h2 + p {
    font-size: 1.25em;
    margin-top: -1em;
    line-height: 1.5em;
}

header.major h2 {
    font-size: 3em;
    margin: 0 0 0.8em;
}

header.major p {
    font-size: 1.7em;
    margin-bottom: 0;
}

/* 6. TOP MENY */
#header {
    background-color: #fff;
    border-bottom: solid 1px rgba(144, 144, 144, 0.25);
    box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.05);
    color: #484848;
    cursor: default;
    font-size: 1.25em;
    height: 4.5em;
    left: 0;
    line-height: 4.4em;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#header h1 {
    color: #484848;
    font-weight: 400;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    float: left;
    margin-left: 2em;
}

#header nav {
    height: inherit;
    line-height: inherit;
    float: right;
    margin-right: 2em;
}

#header nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#header nav ul li {
    border-radius: 4px;
    display: inline-block;
    margin-left: 2.5em;
    padding-left: 0;
}

#header nav ul li a {
    color: #666;
    display: inline-block;
    text-decoration: none;
}

#header nav ul li a:hover {
    color: #484848;
}

/* 7. FOOTER */
#footer {
    padding: 8em 0 6em 0;
    background: #f6f6f6;
    color: #aaa;
    text-align: center;
}

#footer a {
    color: #aaa;
    text-decoration: none;
}

#footer .icons {
    font-size: 1.5em;
}
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

#footer .copyright {
    margin: 2em 0;
    padding: 0;
    text-align: center;
}

#footer .copyright li {
    border-left: solid 1px rgba(144, 144, 144, 0.25);
    display: inline-block;
    list-style: none;
    margin-left: 1.5em;
    padding-left: 1.5em;
}


/* CLEAR FIX
http://nicolasgallagher.com/micro-clearfix-hack/*/
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }